<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="/images/Blason_ville_OLL.png">
    <link rel="stylesheet" href="static/styles/about.css">

</head>

<body>
    <%- include('navbar.ejs') %> <!-- Include your navbar or navigation here -->


    <section class="team">

        
    <div>
        <img src="images/tanguyjoye.jpg" >
        <h2>Tanguy Joye</h2>
        <p>Computer Science Student</p>
    </div>
    
    <div>
        <img src="images/Alaric.jpeg">
        <h2>Alaric Kalish</h2>
        <p>Computer Science Student</p>
    </div>
    
    <div>
        <img src="images/patrick.jpeg">
        <h2>Patrick Preda</h2>
        <p>Computer Science Student</p>
    </div>
    
    </section>

    <section class="bottom">
        <p> We are a dynamic team of computer science students: Tanguy Joye, Alaric Kalish, and Patrick Preda. Together, we're excited to take on a project dedicated to developing a website aimed at assisting our city, Louvain-la-Neuve. Leveraging our diverse skills in web development and database management, we're crafting an accessible platform tailored to the specific needs of our community. Stay tuned as we work towards enhancing Louvain-la-Neuve's digital presence and fostering connectivity within our city. </p>
    </section>
    
        <footer>
        <p id="currentYear"></p>
      </footer>
        <script src="scripts/curentYear.js"></script>
    
</body>
</html>
