<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Incident - My LLN</title>
  <link rel="icon" type="image/x-icon" href="/main/images/Blason_ville_OLL.png">

  <link rel="stylesheet" href="static/styles/index.css">
  <script src="/scripts/autocomplete.js"></script>
</head>
<body>
  <%- include('navbar.ejs') %> <!-- This is where the navbar will be fetched -->

  <div class="container">
    <h1>Add Incident</h1>

    <form id="incident-form">
      <div class="form-group">
        <label for="incidentType">Incident Type:</label>
        <input type="text" id="incidentType" name="incidentType" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" value="<%= incidentData.location %>" name="location" class="form-control" required autocomplete="off">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" rows="4" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Add Incident</button>
    </form>

    <div id="result">
      <!-- Display search results or success message here -->
    </div>
  </div>

</body>
</html>
