<!DOCTYPE html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/styles/profile.css">
    <link rel="stylesheet" href="/static/styles/incidents.css">
    <link rel="icon" type="image/x-icon" href="/images/Blason_ville_OLL.png">
    
    </head>
<body>

    <%- include('navbar.ejs') %>

    <main>
        <div class="profile-container">
            <h1>User Profile</h1>
            
            <div class="user-info">
                <p><strong>Username:</strong> <%= username %></p>
                <p><strong>Email:</strong> <%= email %></p>
            </div>

            <div class="user-incidents">
                <h2>Your reported Incidents</h2>
                <div id="incidents-list">
                </div>
            </div>

        </div>
    </main>


    <script src="/scripts/profileIncident.js"> </script>
    </body>
</html>
