<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
</head>
<!-- NAVBAR + background photo-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My LLLN</title>
    <link rel="icon" type="image/x-icon" href="/main/images/Blason_ville_OLL.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/login.css">
    <link rel="stylesheet" href="/static/styles/index.css">
    <script src="/scripts/verifypasswd.js"> </script>
    


<!-- signup code-->
<body>
    <%- include('navbar.ejs') %>  <!-- This is where the navbar will be fetched -->
    
    <form action="/signup" method="post" class="login" >
        <input type="text" id="email" name="email" required placeholder="Email" class="log"><br><br>

        <input type="text" id="username" name="username" required placeholder="Choose a Username" class="log"><br><br>
    
        <input type="password" id="password" name="password" required placeholder="Password" class="log"><br><br>

        <input type="password" id="confirmPassword" name="confirm-password" oninput="checkPassword()" required placeholder="Confirm Password" class="log"><br><br>

        <p id="message"></p>

        <input type="submit" value="Sign Up" class="log_button">
        <div class="signup">
            <label for="account">Already have an account? <a href="/login">Login</a></label>
        </div>
    </form>
</body>

