body {
   padding-top: 50px;
   background-image: url("../images/lacLLN.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   /* background-position: center; */
}

.starter-template {
   text-align: center;
}
