.login {
    border: 0px solid #333; /* Style de la bordure du carré */
    padding: 15px; /* Espace à l'intérieur du carré */
    width: fit-content; /* Ajuste la largeur du carré en fonction du contenu */
    background-color: white; /* Couleur de fond du carré */
 }
 
 .log_button {
    width: 50%;
    height: 50%; 
    font-size: 18px;
    background-color: lightgreen;
    color: white;
    border: 0 solid lightgreen
 
 }

 .log {
    width: 100%;
    padding: 9px;
 }