<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contenu phrasé</title>
  </head>
  <body>
    <p>Cette page illustre quelques éléments
    de <a href="http://developers.whatwg.org/content-models.html#phrasing-content">
    contenu phrasé</a> en HTML.</p>
    <section>
      <h1>Sémantique du texte</h1>
      <p>Le texte peut être <em>insistant</em>,
        <strong>important</strong> ou <mark>pertinant</mark>.</p>
      <p>Le texte peut être <i>italique</i> ou <b>gras</b> (sans
      sémantique prédéfinie, et donc plutôt à éviter).</p>
      <p>Le texte peut être <small>des petits caractères</small>
      concernant par exemple une information légale.</p>
      <p>Le texte peut être en <sup>superscript</sup>
        ou <sub>subscript</sub>, par exemple pour les ordinaux:
        1<sup>er</sup>, 2<sup>ème</sup>, 3<sup>ème</sup>, …</p>
      <p>Le texte peut être <s>biffé</s>.</p>
      <p>Le texte peut être signalé comme étant <del>éliminé</del>
        ou <ins>inséré</ins>.</p>
      <p>Le texte peut être <kbd>l'entrée</kbd> ou
        la <samp>sortie</samp> d'un programme, ou un bout
        de <code>code source</code>.</p>
      <p>Bien que certains des éléments illustrés précédemment ont la
      même apparence par défaut, le plus important est
      la <strong>semantique</strong> que l'on donne au texte avec
      chaque élément.  On peut utiliser CSS pour faire une
      différentiation visuelle des éléments.</p>
    </section>
  </body>
</html>
