body {
   padding-top: 60px;
   background-image: url("/images/lacLLN.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   /* Removed height: 100vh; */
}

.starter-template {
   text-align: center;
   
}
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh; /* Changed from height to min-height */
   position: relative; /* Changed from fixed to relative */
   width: 50%;
   background: rgba(255,255,255,1); /* to align with profile page */   
}

/* Style the form */
#address-form {
   text-align: center;
   margin-bottom: 20px; /* Add some space between the form and the results */
}

#address {
   padding: 10px;
   border: 2px solid #333; /* Add a border to the input field */
   border-radius: 5px;
   font-size: 16px;
   width: 300px;
}

button[type="submit"] {
   background-color: #333;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

/* Style the result container */
#result {
   display: none; /* Initially hide the result container */
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px;
   width: 300px;
   cursor: pointer;
}

#result p {
   margin: 0;
   padding: 5px;
   border-bottom: 1px solid #ccc;
   font-size: 14px;
   color: black;
}

/* Style the 'No results found' message */
#result:empty::before {
   content: 'No results found.';
   font-size: 14px;
   color: black;
}

/* Add some spacing between the input field and the results */
#result + #address-form {
   margin-top: 20px;
}
