.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 1000%;
    background-color: rgb(37, 157, 69);
    margin-right: 10px;
    
    
    padding: 1px;
    cursor: pointer;
}


.login-signup-link {
    margin-left: 10px;
}

.login-signup-link a {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-signup-link a:hover {
    background-color: #0056b3;
}


.navbar {
    padding: 10px;
}
